* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.backdrop {
    display: none;
}

.container {
    height: 448px;
    width: 650px;
    background-color: #BDE4E6;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 10px;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-flex {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-between;
}

.form-date {
    border: 2px solid black;
    border-radius: 1rem;
    background: none;
    width: 143px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.underline-input {
    border: none;
    border-bottom: 4px solid black;
    outline: none;
    background: none;
    padding: 5px 0;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.task-description-txt {
    border-bottom: 4px solid black;
    background: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    width: 100%;
    resize: none;
    line-height: 1.2;
}

.subtask-flex {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
}

.subtask-detls {
    display: flex;
    justify-content: space-between;
}

.margin-top {
    margin-top: 10px;
}

.default,
#cancle {
    border: none;
    background: none;
    cursor: pointer;
}

.default img,
#cancle img,
.Save-form img {
    width: 27px;
}