* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Calculator_section {
    height: 500px;
    width: 350px;
    background-color: rgb(71, 69, 69);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6);
}

.display_flex {
    height: 100%;
    border-radius: 5px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display {
    background-color: #2A2A2A;
    border: 1px solid #3B3B3B;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.output {
    margin: 20px 0;
    /* top/bottom margin, remove left/right margin */
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-align: right;
    /* align text to the right */
}

.history {
    color: #bbbbbb;
    font-size: 0.9rem;
    text-align: right;
    opacity: 0.7;
}



.keybord {
    background-color: #1B1B1B;
    height: 70%;
    padding: 4px;
}

.key-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    height: 100%;

}

.key-grid button {
    border-radius: 10px;
    border-radius: 8px;
    padding: 12px 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    border: 1px solid #2C2C2C;
    transition: 0.15s ease;
}

#ans {
    background-color: #1376c2;
}

.num {
    background-color: #928d8d;
}

.op {
    background-color: #5f5f5f;
}

.func {
    background-color: #524d4d;
}

.num:hover {
    background-color: #8a8484;
}

.op:hover {
    background-color: #5a5a5a;
}

.func:hover {
    background-color: #4a4545
}

#ans:hover {
    background-color: #0d5687;
}